@{
    ViewData["Title"] = "Комплектующие для средств автоматизации";
    ViewData["description"] = "Комплексные поставки комплектующих для средств автоматизации";
}

<div class="text-center">
    <h1 class="visually-hidden h1-visually h1__visually" style="visibility: hidden;">Комплектующие для средств автоматизации</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
