<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewData["description"]">
    <link rel="stylesheet" href="css/project-style.css">
    <title>@ViewData["Title"]</title>
  </head>
  <body>
    <header>
      <div class="container header__container">
        <nav class="header-nav">
          <ul class="header-nav__list">
            <li class="header-nav__item">+7 (812) 921-59-71</li>
            <li class="header-nav__item">|</li>
            <li class="header-nav__item"> 
              <div class="header-social-icon header-social-icon1"></div>
            </li>
            <li class="header-nav__item"> 
              <div class="header-social-icon header-social-icon2"></div>
            </li>
            <li class="header-nav__item"> 
              <div class="header-social-icon header-social-icon3"></div>
            </li>
          </ul>
          <ul class="header-nav__list header-nav__list_tutorial">
            <li class="header-nav__item header-nav__item_company">Для юридических лиц</li>
            <li class="header-nav__item">Способы доставки</li>
            <li class="header-nav__item">Способы оплаты</li>
          </ul>
        </nav>
        <div class="control-block"> <img class="logo" src="../img/compEnergy.svg" alt="Логотип интернет-интернет магазина Компонент энергии">
          <ul class="control-list">
            <li class="control-list__item"> 
              <div class="control-list__item_img control-list__item_img1"></div>
              <div class="control-list__item_discr">Компания</div>
            </li>
            <li class="control-list__item"> 
              <div class="control-list__item_img control-list__item_img2"></div>
              <div class="control-list__item_discr">Заказы</div>
            </li>
            <li class="control-list__item control-list__item_basket"> 
              <div class="control-list__item_img control-list__item_img3"></div>
              <div class="quantity-shopping-icon shopping-icon__display-none" id="shopping-icon">
                <div class="quantity-shopping-icon__text">299</div>
              </div>
              <div class="control-list__item_discr">Корзина</div>
            </li>
          </ul>
        </div>
        <div class="search-block"> 
          <div class="search-block__catalog" id="catalog-block">Каталог товаров</div>
          <form class="search-block__form">
            <input class="search-block-form__text" type="search" name="search" placeholder="Поиск по сайту">
            <button class="search-block-form__botton_submit" type="submit" name="submit"><img class="search-botton__icon" src="../img/serch.svg" alt="Кнопка поиска"></button>
          </form>
        </div>
        <div class="search-block search-block-subsection search-block-none" id="catalog-list">
          <ul class="search-block-list">
            <li class="search-block-list__item" id="catalog-list_1">Schneider</li>
            <li class="search-block-list__item" id="catalog-list_2">ABB</li>
            <li class="search-block-list__item" id="catalog-list_3">Siemens</li>
            <li class="search-block-list__item" id="catalog-list_4">Phoenix Contact</li>
          </ul>
          <ul class="search-block-list_subsection subsection-schneider" id="list-subsection_1">
            <li class="search-block-list_subsection__item">Розетки-1</li>
            <li class="search-block-list_subsection__item">Выключатели-1</li>
            <li class="search-block-list_subsection__item">Контроллеры-1</li>
            <li class="search-block-list_subsection__item">Контакторы-1</li>
          </ul>
          <ul class="search-block-list_subsection subsection-abb list_subsection-none" id="list-subsection_2">
            <li class="search-block-list_subsection__item">Розетки-abb</li>
            <li class="search-block-list_subsection__item">Выключатели-abb</li>
            <li class="search-block-list_subsection__item">Контроллеры-abb</li>
            <li class="search-block-list_subsection__item">Контакторы-abb</li>
          </ul>
          <ul class="search-block-list_subsection subsection-siemens list_subsection-none" id="list-subsection_3">
            <li class="search-block-list_subsection__item">Розетки-Siemens</li>
            <li class="search-block-list_subsection__item">Выключатели-Siemens</li>
            <li class="search-block-list_subsection__item">Контроллеры-Siemens</li>
            <li class="search-block-list_subsection__item">Контакторы-Siemens</li>
          </ul>
          <ul class="search-block-list_subsection subsection-phoenix list_subsection-none" id="list-subsection_4">
            <li class="search-block-list_subsection__item">Розетки-Phoenix</li>
            <li class="search-block-list_subsection__item">Выключатели-Phoenix</li>
            <li class="search-block-list_subsection__item">Контроллеры-Phoenix</li>
            <li class="search-block-list_subsection__item">Контакторы-Phoenix</li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
            @RenderBody()
      </div>
    </main>
    <script src="js/app.js" type="module"></script>
  </body>
</html>